# STA 141B Data & Web Technologies for Statistical Analysis


### Announcement

<ul>
    <li> No office hour for TA this week. My office hour for this week is between 1:00pm to 2:00pm on Wednesday </li>
    <li> Lecture notes will be posted online
    <li> The first two lectures will be online and will be recorded. Starting next week, we will have in person class. Lectures will be recorded and uploaded on Canvas   
</ul>



### Today's syllabus

#### 1. Install Python and Jupyter Notebook

<ul>
    <li> Download python from the webiste: https://www.python.org/downloads/ 
    <br /> We use Python 3 for this class, do not download Python 2</li>
</ul>
<ul>        
    <li> Install Python notebook </li>
    <ol>
        <li> intall conda <mark>https://conda.io/projects/conda/en/latest/user-guide/install/index.html</mark> </li>
        <li> go to <b>Terminal</b> </li>
        <li> Type <mark>conda install -c conda-forge notebook</mark> </li>
        <li> In Terminal, type <b>jupyter notebook</b> to open the notebook    
    </ol>
</ul>

#### 2. Python basics

check out the python document: <mark>https://docs.python.org/3/</mark>
<br /><mark><b>GOOGLE</b></mark> is always your best friend!

In [6]:
print("Hello, World!")

Hello, World!

In [7]:
# <-- this starts a comment
# print a number
5

5

In [3]:
# calculate 2 + 3
2+3

5

In [4]:
# Create a strings
'hello'

'hello'

In [5]:
"hello"

'hello'

In [8]:
True

True

In [9]:
# Python does not have an NA like R
None # more like R's NULL than NA

In [10]:
# type
type(True)

bool

In [11]:
type(print)

builtin_function_or_method

In [12]:
type(5)

int

In [13]:
type(5.3)

float

In [15]:
x = 6 
x

6

In [16]:
# write a function
def square_it(x):
    
    return x ** 2 # a function output x^2

In [17]:
square_it(3)

9

In [4]:
# use help

help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [5]:
print? # simply put ?

SyntaxError: invalid syntax (<ipython-input-5-652c7638d02e>, line 1)

In [2]:
square_it??

SyntaxError: invalid syntax (<ipython-input-2-4500ef0bcfc9>, line 1)

In [1]:
# addition, Subtraction, Multiplication, Division, Modulus, Exponentiation, Floor division
3 + 5
3 - 2
3 * 2
3 / 2
3 % 2
3 ** 2
3 // 2

1

In [34]:
# for loop
# k = 0
# for i in range(1,100):
#     k = k + i
#     print(k) # indentation matters in Python!

k = 0
for i in range(1,100):
    k = k + i
    
print(k)

4950

In [30]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

apple
banana
cherry

In [35]:
range(100) # python starts at 0, this is different from R!

range(0, 100)

In [36]:
range(2, 100)

range(2, 100)