# STA 141B - Lecture 2



January 06, 2022

# Announcement

<ul>
    <li> Sign up piazza, future communications will be sent via Piazza </li>
    <li> In person instruction starts next week @ Young Hall 194 </li>
    <li> In person course will be recorded and uploaded on Canvas </li>
    <li> OHs updated: Jue: F 10:00 am to 12:00pm; Eunseong: W 10:00 am to 12:00pm (Zoom links on syllabus)</li>
</ul>


# Last time
<ul>
    <li> Install the Jupyter notebook, using python 3 </li>    
</ul>    


# Today

<ul>
    <li> python basics </li>    
    <li> Tuple, list, and dictionaries </li>
    <li> Methods and attribus </li>
    <li> If, while, for statements </li>
    <li> Modules </li>
</ul>

### Python basics

check out the python document: <mark>https://docs.python.org/3/</mark>
<br /><mark><b>GOOGLE</b></mark> is always your best friend!

In [1]:
print("Hello, World!")

Hello, World!

In [2]:
# <-- this starts a comment
# print a number # print shift+enter
5

5

In [3]:
# calculate 2 + 3
2+3

5

In [4]:
# Create a strings
'hello'

'hello'

In [5]:
"hello"

'hello'

In [6]:
# Booleans represent one of two values: True or False. Boolean Values. Like T in R
True

True

In [7]:
# type
type(True)

bool

In [8]:
# Python does not have an NA like R
None # more like R's NULL than NA

In [9]:
type(print)

builtin_function_or_method

In [10]:
type(5)

int

In [11]:
type(5.3)

float

In [12]:
x = 6 
x

6

In [13]:
print(x)

6

In [14]:
x = 6
y = 7
x
y

7

In [15]:
x = 6
y = 7
print(x)
print(y)

6
7

In [16]:
# write a function
def square_it(x):
    
    return x ** 2 # a function output x^2

In [17]:
square_it(3)

9

In [18]:
# use help

help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [19]:
print? # simply put ?

SyntaxError: invalid syntax (<ipython-input-19-652c7638d02e>, line 1)

In [23]:
# addition, Subtraction, Multiplication, Division, Modulus, Exponentiation, Floor division
3 + 5
3 - 2
3 * 2
3 / 2
3 % 2
3 ** 2
5 // 2 # remainder

2

In [21]:
# for loop 
# k = 0
# for i in range(1,100):
#     k = k + i
#     print(k) # indentation matters in Python!

k = 0
for i in range(1,100): # 1, ..., 99
    k = k + i
    # print(i)
print(k)

4950

In [24]:
# for loop 
# k = 0
# for i in range(1,100):
#     k = k + i
#     print(k) # indentation matters in Python!

k = 0
for i in range(100): # 0,...,99: starts at 0!
    k = k + i
    # print(i)

In [25]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

apple
banana
cherry

In [26]:
type(fruits)

list

In [27]:
# range() returns a sequence of numbers starting from zero and increment by 1 
# by default and stops before the given number

range(2, 100)

range(2, 100)

In [28]:
# range() is not a list, nor it returns a list type. A range() return range object.

print(list(range(3)))

[0, 1, 2]

In [29]:
range(100)

range(0, 100)

In [30]:
len(range(100)) # length

100

### Tuple

A tuple is an ordered collection of values. Think of coordinates. Tuples are immutable, which means they can't be changed after they're created.

In [31]:
# Make a tuple with commas ,
x = 1, 3, 5

In [32]:
x[0]

1

In [33]:
type(x)

tuple

In [34]:
# Use parentheses ( ) for clarity
y = ("hi", 1, 3.7)

In [35]:
type(y)

tuple

There are three ways to get elements from a tuple:
<ol>
    <li>Indexing with [ ]</li>
    <li>Slicing with [] and :, A slice a:b gets elements from a to b - 1.</li>
    <li>Unpacking -- assign to a same-shape tuple of variables on the left-hand side</li>
</ol>

Here are some examples:

In [36]:
y[0] # use square brackets

'hi'

In [37]:
type(y[0])

str

In [38]:
type(y[1])

int

In [39]:
y[0:1]

('hi',)

In [40]:
y[0:2]

('hi', 1)

In [41]:
y[0:3]

('hi', 1, 3.7)

In [42]:
y[0:5] # return the first three elements

('hi', 1, 3.7)

In [43]:
u, v, w = y

In [44]:
print(u); print(v); print(w)

hi
1
3.7

In [45]:
print(u)
print(v)
print(w)

hi
1
3.7

Tuples can't be changed

In [46]:
y[0] = 3

TypeError: 'tuple' object does not support item assignment

### List

A list is an ordered collection of values. Lists are mutable, which means they can be changed after they're created.

Lists are less efficient but more flexible than tuples.

Why tuples are more efficients? https://stackoverflow.com/questions/68630/are-tuples-more-efficient-than-lists-in-python

In [69]:
# Make a list with square brackets [ ]
x = [1, 3, 5]

In [70]:
# Three ways to get elements from a list (same as a tuple):
x[0]

1

In [72]:
x[0] = 3
x

[3, 3, 5]

In [49]:
x[1:3]

[3, 5]

In [50]:
u, v, w = x
print(u); print(v); print(w);

1
3
5

In [51]:
# Delete a list element with del
del x[1]
print(x)

[1, 5]

Lists use <mark>reference semantics</mark>, which means that if you assign a list to two different variables, there's still only one list in memory, and both variables refer to it.

As a result, <mark>changing the list with one variable changes the list for the other variable.</mark>

In [52]:
x = [1, 3, 5]
y = x
y[1] = 7

x

[1, 7, 5]

### Dictionaries

A dictionary (or dict) is a one-to-one map from keys to values. In other words, you use a key to look up a value.

Dictionaries are mutable and use reference semantics.

In [76]:
# Make a dict with curly brackets { } and colons :
x = {"hello": 1, 3: 5}

dict

There are Two ways to get elements from a dictionary:

<ol>
    <li> Indexing with [ ]</li>
    <li> With the .get() method. We'll learn more about methods below.
</ol>

In [54]:
# 1:
x["hello"]

1

In [55]:
# 2: The .get() method gets an element OR returns a default value if the key can't be found.

x.get("hello", 10) # second argument (10) is default value if key is not in dictionary

1

In [56]:
x.get("goodbye", 10)

10

In [57]:
# Can also use del to delete dict elements
del x["hello"]
x

{3: 5}

### Methods and Attributes

In Python, every number, string, data structure, function, and so on is an object. Each object has a type, and may have other objects stored inside.

A method is a function stored inside another object. Methods usually affect their object somehow.

An attribute is a non-function object stored inside another object.

In [58]:
# Use . to access methods and attributes
# Use dir() to list methods and attributes
# For example, we can use the .copy() method of lists and dicts to make a copy.

In [77]:
x = [1, 3, 5]
y = x.copy()
y[1] = 7
# Since we made a copy, x is unchanged.
x

[1, 3, 5]

### Control flow (if, while, for)

#### 1. 'If' statement

Python's if statement allows us to change the behavior of our code depending on whether a condition is met. Conditions must be Boolean expressions (type bool).

Indentation determines whether code is inside or outside of a control flow statement! Be careful to get it right!

In [60]:
x = 1
if x > 10:
    print("x is greater than 10")
else:
    print("x is less than or equal to 10")
    
    print("This line is indented, so it's inside the if-statement and only runs when x is not greater than 10")
    
print("This line is not indented, so it's outside the if-statement and always runs.")

x is less than or equal to 10
This line is indented, so it's inside the if-statement and only runs when x is not greater than 10
This line is not indented, so it's outside the if-statement and always runs.

In [61]:
if x > 10:
    print("x is greater than 10")
elif x == 1:
    print("x is one!")
else:
    print("x is less than or equal to 10, and not 1")

x is one!

#### 2. 'while' statement

Python's while loop allows us to run code repeatedly while some condition is met.

In [62]:
x = 0
while (x < 10):
    x = x + 1
    print(x)

1
2
3
4
5
6
7
8
9
10

#### 3. 'for' statement

Python's for loop allows us to iterate over elements of a string, tuple, list, or other object.

Objects that can be iterated over are iterable. We'll learn more about iterables next week.

In [63]:
for i in [1, 2, 3]:
    print(i)

1
2
3

In [64]:
# A weird way to convert to lowercase that shows a non-trivial loop:

for letter in 'STA 141B':
    # Computers compute on numbers, so each letter is represented by a number in memory.
    # ord() gets the number that represents a letter
    num = ord(letter)
    if 65 <= num <= 90: # A-Z are represented by 65-90
        # a-z are represented by 97-122, so a 32 number offset
        new_letter = num + 32
        # chr() converts a number that represents a letter back to the letter
        new_letter = chr(new_letter)
    else:
        new_letter = letter
        
    print(new_letter)

s
t
a

1
4
1
b

In [65]:
# In practice, we can just use a built-in method to convert to lowercase
'STA 141B'.lower()

# Behind the scenes, .lower() is implemented in pretty much the same way as our loop above.

'sta 141b'

### Modules

A module is a text file that contains Python code, usually a .py file.

In R, it is called the package

Python's import command lets us load code from a module to use in our script or notebook. Note: import is like a combination of R's source() and library() functions.

Python provides many built-in modules for common tasks (see the list: https://docs.python.org/3/library/index.html). Packages provide even more modules.

In [66]:
# Use . to access functions and variables in a module
import math

math.pi

3.141592653589793

In [67]:
# You can give imported modules an alias to cut down on typing
import math as m

m.pi

3.141592653589793