# Lecture 8

February 02, 2022


### Announcements

* HW2 due tomorrow

### Topics

* Undocumented APIs
* XML and HTML
* Web Scraping

### Datasets

* [Yolo County Health Inspections](https://yoloeco.envisionconnect.com/)
* [Wikipedia's List of Largest Cities](https://en.wikipedia.org/wiki/List_of_largest_cities)
* [CUESA's Vegetable Seasons Chart](https://cuesa.org/eat-seasonally/charts/vegetables)

### References

* [__requests__ documentation](http://docs.python-requests.org/en/master/)
* [__requests-html__ documentation](https://html.python-requests.org/)
* [MDN HTML Reference](https://developer.mozilla.org/en-US/docs/Web/HTML/Element)
* [XPath Diner](http://www.topswagcode.com/xpath/) -- an interactive XPath tutorial
* [CSS Diner](https://flukeout.github.io/) -- an interactive CSS Selector tutorial
* Python for Data Analysis, Ch. 6
* Python for Data Analysis, Ch. 7.3 (to review string processing)

[PDSH]: https://jakevdp.github.io/PythonDataScienceHandbook/
[ProGit]: https://git-scm.com/book/

## Getting Data from the Web

Revised list of ways you can get data from the web, from most to least convenient:

1. Direct download or "data dump"
2. Python or R package (there are packages for many popular web APIs)
3. Documented web API
4. Undocumented web API
5. Scraping

## Undocumented Web APIs

Many websites use undocumented web APIs to get data. For example:

* [University of California Compensation](https://ucannualwage.ucop.edu/wage/)
* [Yolo County Health Inspections](https://yoloeco.envisionconnect.com/)

You can identify these websites by looking at requests in your browser's developer tools. In Firefox or Chrome, you can open the developer tools with `ctrl-shift-i`.

Requests to web APIs almost always return JSON or XML data. By examining the browser requests, you can work out the endpoints and parameters, allowing you to use the API.

**CAUTION:** Web APIs that are undocumented are often undocumented for a reason. Using an undocumented API may make someone angry or get you into legal trouble! Government and quasi-government websites (like the examples above) are probably okay, as long as you cache and rate-limit your requests. For everything else, find for an alternative or get permission first.

Let's reverse engineer the Yolo County Health Inspections web API so that we can get data about local restaurants.

In [2]:
import numpy as np
import pandas as pd
import requests
import requests_cache

requests_cache.install_cache("mycache")

In [4]:
def get_health_info(q):
    response = requests.post("https://yoloeco.envisionconnect.com/api/pressAgentClient/searchFacilities", params = {
        "PressAgentOid": "c08cb189-894c-4c8c-b595-a5ef010226b4",
    }, json = {
        # "FacilityName": q,
        "Addresses": 
        # "FacilityId": "FA0021354"
    })

    response.raise_for_status()
    #"FacilityName": "pluto's"

    # Different ways to attach data to a POST request:
    # With data=, we get a query string
    #   FacilityName=pluto's

    # With json=, we get a json object

    return response.json()


get_health_info("A")

[{'FacilityId': 'FA0021354',
  'FacilityName': 'A KE TACO',
  'Address': '1900 PARKWOOD DR ',
  'CityStateZip': 'YUBA CITY CA 95993 ',
  'LastScore': 100.0,
  'attachmentId': 'c5bf43d6-aa71-416f-b95a-ad4f00b3cda4'},
 {'FacilityId': 'FA0019474',
  'FacilityName': 'ACOUSTIC EVENTS',
  'Address': '4467 D ST ',
  'CityStateZip': 'SACRAMENTO CA 95819 ',
  'LastScore': 100.0,
  'attachmentId': '6ad8b394-103b-4f88-8e1c-ae2b01015500'},
 {'FacilityId': 'FA0014014',
  'FacilityName': 'AFC SUSHI / HOT WOK @ BEL AIR #526',
  'Address': '1885 E GIBSON RD ',
  'CityStateZip': 'WOODLAND CA 95776 ',
  'LastScore': 100.0,
  'attachmentId': None},
 {'FacilityId': 'FA0014013',
  'FacilityName': "AFC SUSHI / HOT WOK @ RALEY'S #206",
  'Address': '367 W MAIN ST ',
  'CityStateZip': 'WOODLAND CA 95695 ',
  'LastScore': 100.0,
  'attachmentId': None},
 {'FacilityId': 'FA0014015',
  'FacilityName': "AFC SUSHI / HOT WOK @ RALEY'S #448",
  'Address': '1601 W CAPITOL AVE ',
  'CityStateZip': 'WEST SACRAMENTO CA 95691 ',
  'LastScore': 100.0,
  'attachmentId': 'a8d24d51-da4b-4be3-9cf4-ad4e0110d37c'},
 {'FacilityId': 'FA0010191',
  'FacilityName': 'AFC SUSHI @ SAFEWAY #1205',
  'Address': '1451 W COVELL BLVD ',
  'CityStateZip': 'DAVIS CA 95616 ',
  'LastScore': 100.0,
  'attachmentId': '59be27cd-feed-41d0-ac11-ae1b00e0793e'},
 {'FacilityId': 'FA0010190',
  'FacilityName': 'AFC SUSHI @ SAFEWAY #1561',
  'Address': '2121 COWELL BLVD ',
  'CityStateZip': 'DAVIS CA 95616 ',
  'LastScore': 100.0,
  'attachmentId': 'd9e3e620-56d4-4499-876f-ad2100926eda'},
 {'FacilityId': 'FA0010016',
  'FacilityName': 'AFC SUSHI @ WALMART #3652',
  'Address': '755 RIVERPOINT DR ',
  'CityStateZip': 'WEST SACRAMENTO CA 95691 ',
  'LastScore': 100.0,
  'attachmentId': 'feec422f-cc1d-42ee-b7cb-adfe008d791a'},
 {'FacilityId': 'FA0018619',
  'FacilityName': 'AFC TIK TOK WOK @ SAFEWAY #1205',
  'Address': '1451 W COVELL BLVD ',
  'CityStateZip': 'DAVIS CA 95616 ',
  'LastScore': 100.0,
  'attachmentId': 'b6dc986d-cabc-4a10-ae18-ae1b00debf6b'},
 {'FacilityId': 'FA0012949',
  'FacilityName': 'AFRIDI FOOD COMPANY',
  'Address': '1250 CHURCHILL DOWNS AVE D STE ',
  'CityStateZip': 'WOODLAND CA 95776 ',
  'LastScore': 100.0,
  'attachmentId': 'e6c8ecab-92be-4109-a307-ade1010bc52a'},
 {'FacilityId': 'FA0001050',
  'FacilityName': 'AGGIE LIQUOR',
  'Address': '507 L ST ',
  'CityStateZip': 'DAVIS CA 95616 ',
  'LastScore': 100.0,
  'attachmentId': '3dd7fd23-3214-4051-b67e-ad7f01039b0b'},
 {'FacilityId': 'FA0021027',
  'FacilityName': 'AGTECH INNOVATION ALLIANCE',
  'Address': '1100 MAIN ST 300 STE ',
  'CityStateZip': 'WOODLAND CA 95695 ',
  'LastScore': 100.0,
  'attachmentId': 'f3a386ca-7eb8-43ff-8c66-ad4300f8f912'},
 {'FacilityId': 'FA0005895',
  'FacilityName': 'AISLE 1 #2576',
  'Address': '1813 E GIBSON RD ',
  'CityStateZip': 'WOODLAND CA 95776 ',
  'LastScore': 100.0,
  'attachmentId': '32430bf5-bb48-46c1-bc3f-ac92010ef2b2'},
 {'FacilityId': 'FA0017313',
  'FacilityName': 'AJ HUNDAL MART',
  'Address': '2434 W CAPITOL AVE ',
  'CityStateZip': 'WEST SACRAMENTO CA 95691 ',
  'LastScore': 100.0,
  'attachmentId': 'f5d5febb-cb42-4ec3-b7d5-adb900939a9b'},
 {'FacilityId': 'FA0020303',
  'FacilityName': 'AKIRA COFFEE & TEA',
  'Address': '620 W COVELL BLVD A STE ',
  'CityStateZip': 'DAVIS CA 95616 ',
  'LastScore': 100.0,
  'attachmentId': 'edf866ab-e17d-4d44-9d81-ae1c01058853'},
 {'FacilityId': 'FA0006503',
  'FacilityName': "AL & TOMI'S SHAVED ICE",
  'Address': '8334 OLIVE SCHOOL RD ',
  'CityStateZip': 'WINTERS CA 95694 ',
  'LastScore': 100.0,
  'attachmentId': '737d9d4a-3668-470d-a227-aa3c00f64043'},
 {'FacilityId': 'FA0009941',
  'FacilityName': 'ALDERSON CONVALESCENT - FOOD',
  'Address': '124 WALNUT ST ',
  'CityStateZip': 'WOODLAND CA 95695 ',
  'LastScore': 100.0,
  'attachmentId': 'de0878e6-0f22-4af9-bba7-ade800828c81'},
 {'FacilityId': 'FA0001973',
  'FacilityName': 'ALI BABA RESTAURANT',
  'Address': '220 3RD ST ',
  'CityStateZip': 'DAVIS CA 95616 ',
  'LastScore': 100.0,
  'attachmentId': '43e9d9ea-f28d-45e7-963e-ace901277735'},
 {'FacilityId': 'FA0018627',
  'FacilityName': 'ALKA PURE WATER',
  'Address': '1620 W CAPITOL AVE ',
  'CityStateZip': 'WEST SACRAMENTO CA 95691 ',
  'LastScore': 100.0,
  'attachmentId': 'c3e611eb-02f3-4736-b35f-adf1008c641e'},
 {'FacilityId': 'FA0015993',
  'FacilityName': 'ALL SEASONS ALL REASONS CATERING',
  'Address': '2135 DALE AVE ',
  'CityStateZip': 'SACRAMENTO CA 95815 ',
  'LastScore': 100.0,
  'attachmentId': '8a9a0dd1-8df6-4b4e-ab8e-adf90112df27'},
 {'FacilityId': 'FA0019796',
  'FacilityName': 'ALOHA POKEE & RAMEN',
  'Address': '2055 TOWN CENTER PLZ 110 STE ',
  'CityStateZip': 'WEST SACRAMENTO CA 95691 ',
  'LastScore': 100.0,
  'attachmentId': '8616befe-35cd-4465-8dd0-ad8600fb2082'},
 {'FacilityId': 'FA0002033',
  'FacilityName': 'ALYCE NORMAN SCHOOL',
  'Address': '1200 ANNA ST ',
  'CityStateZip': 'WEST SACRAMENTO CA 95605 ',
  'LastScore': 100.0,
  'attachmentId': '69a7e506-66e7-476b-a8cf-adc60088d28c'},
 {'FacilityId': 'FA0002270',
  'FacilityName': 'AM/PM MINI MARKET #5731- FOOD',
  'Address': '805 REED AVE ',
  'CityStateZip': 'WEST SACRAMENTO CA 95605 ',
  'LastScore': 100.0,
  'attachmentId': '926fecc8-5eb7-4597-a788-ae2800afd774'},
 {'FacilityId': 'FA0020636',
  'FacilityName': 'AMALUNA - PUBLIC CONCESSIONS',
  'Address': "CIRQUE DU SOLEIL'S AMALUNA ",
  'CityStateZip': 'WEST SACRAMENTO CA 95691 ',
  'LastScore': 100.0,
  'attachmentId': '80ec2fe7-47a7-4d1d-b9bb-ab5600a2edee'},
 {'FacilityId': 'FA0020635',
  'FacilityName': 'AMALUNA - STAFF KITCHEN',
  'Address': "CIRQUE DU SOLEIL'S AMALUNA ",
  'CityStateZip': 'WEST SACRAMENTO CA 95691 ',
  'LastScore': 100.0,
  'attachmentId': 'cf567238-9439-4a0f-b40a-ab5700d4d7d1'},
 {'FacilityId': 'FA0020634',
  'FacilityName': 'AMALUNA - VIP CATERING',
  'Address': "CIRQUE DU SOLEIL'S AMALUNA ",
  'CityStateZip': 'WEST SACRAMENTO CA 95691 ',
  'LastScore': 100.0,
  'attachmentId': 'd8d89f80-59c0-4114-ab7f-ab5700d58574'},
 {'FacilityId': 'FA0020421',
  'FacilityName': 'AMERICAN RIVER PROVISIONS',
  'Address': 'YOLO COUNTY ',
  'CityStateZip': 'WITH IN YOLO COUNTY CA 95695 ',
  'LastScore': 100.0,
  'attachmentId': '4b2f62eb-7166-4010-8fb4-aa9800e6a54d'},
 {'FacilityId': 'FA0020398',
  'FacilityName': 'AMY LOVES MUSTARD',
  'Address': '2407 VAN GOGH ST ',
  'CityStateZip': 'DAVIS CA 95618 ',
  'LastScore': 100.0,
  'attachmentId': '5a9838b3-59a5-47f6-a12e-ad2b00fa81fc'},
 {'FacilityId': 'FA0012414',
  'FacilityName': 'ANDERSON FAMILY CATERING BBQ',
  'Address': '1286 CALLEN ST ',
  'CityStateZip': 'VACAVILLE CA 95687 ',
  'LastScore': 100.0,
  'attachmentId': '18583f0a-1b68-44fd-bbdd-ad160107bfa6'},
 {'FacilityId': 'FA0009436',
  'FacilityName': 'ANDERSON GAS & MINI MART - FOOD',
  'Address': '1935 ANDERSON RD ',
  'CityStateZip': 'DAVIS CA 95616 ',
  'LastScore': 100.0,
  'attachmentId': '3ff4f0af-ef6d-48a6-9ef7-ad7f01002422'},
 {'FacilityId': 'FA0002159',
  'FacilityName': 'ANDERSON ROAD SHELL - FOOD',
  'Address': '1944 ANDERSON RD ',
  'CityStateZip': 'DAVIS CA 95616 ',
  'LastScore': 100.0,
  'attachmentId': None},
 {'FacilityId': 'FA0002192',
  'FacilityName': "ANDY'S ARCO - FOOD",
  'Address': '313 W MAIN ST ',
  'CityStateZip': 'WOODLAND CA 95695 ',
  'LastScore': 100.0,
  'attachmentId': 'f034bfe7-0f92-4b09-a543-adc1010b6ced'},
 {'FacilityId': 'FA0020071',
  'FacilityName': "ANN'S GLUTEN FREE GOODIES",
  'Address': '1391 PARKVIEW DR ',
  'CityStateZip': 'WOODLAND CA 95776 ',
  'LastScore': 100.0,
  'attachmentId': '53cd6abc-b4cd-445c-9936-acd400da45a2'},
 {'FacilityId': 'FA0020747',
  'FacilityName': 'ANTOJITOS JAIMITO #4TB1720',
  'Address': '117 W MAIN ST ',
  'CityStateZip': 'WOODLAND CA 95695 ',
  'LastScore': 100.0,
  'attachmentId': '5cd8c58c-f3b9-4ded-b094-adc10106d8bf'},
 {'FacilityId': 'FA0020438',
  'FacilityName': 'APNA BAZAAR',
  'Address': '2 W COURT ST C STE ',
  'CityStateZip': 'WOODLAND CA 95696 ',
  'LastScore': 100.0,
  'attachmentId': '4fdd227a-0b70-464f-b502-adac0115e934'},
 {'FacilityId': 'FA0005596',
  'FacilityName': "APPLEBEE'S - WOODLAND",
  'Address': '1790 E MAIN ST ',
  'CityStateZip': 'WOODLAND CA 95776 ',
  'LastScore': 100.0,
  'attachmentId': 'df19e47f-8a5f-4d65-a87a-adb30113bc70'},
 {'FacilityId': 'FA0021060',
  'FacilityName': 'ARATA SUSHI',
  'Address': '1900 ANDERSON RD ',
  'CityStateZip': 'DAVIS CA 95616 ',
  'LastScore': 100.0,
  'attachmentId': 'dda81dec-63a3-4d8d-a208-ad830081a84f'},
 {'FacilityId': 'FA0020757',
  'FacilityName': "ARBY'S #8806",
  'Address': '85 W COURT ST ',
  'CityStateZip': 'WOODLAND CA 95695 ',
  'LastScore': 100.0,
  'attachmentId': 'e549c6f1-1067-43d7-b14b-ae1a00e41f6a'},
 {'FacilityId': 'FA0016070',
  'FacilityName': 'ARCO AMPM GAS STATION',
  'Address': '4480 CHILES RD ',
  'CityStateZip': 'DAVIS CA 95618 ',
  'LastScore': 100.0,
  'attachmentId': 'f674e5cd-c0b5-4e46-b7df-ac21010466d0'},
 {'FacilityId': 'FA0020258',
  'FacilityName': 'ARMADILLO MUSIC INC.',
  'Address': '207 F ST ',
  'CityStateZip': 'DAVIS CA 95618 ',
  'LastScore': 100.0,
  'attachmentId': '46081833-bb64-42ee-bcb0-ad250107890a'},
 {'FacilityId': 'FA0001394',
  'FacilityName': "ARTEAGA'S SUPERMARKET INC",
  'Address': '940 SACRAMENTO AVE ',
  'CityStateZip': 'WEST SACRAMENTO CA 95605 ',
  'LastScore': 100.0,
  'attachmentId': '5d6be7ea-3b0c-4959-af19-adbb01044ce1'},
 {'FacilityId': 'FA0020819',
  'FacilityName': "AUNTIE YASY'S GLUTEN-FREE GOODIES & MEAL DELIVERY LLC",
  'Address': '40162 BEST RANCH RD ',
  'CityStateZip': 'WOODLAND CA 95776 ',
  'LastScore': 100.0,
  'attachmentId': 'ef5978a9-c33e-4d48-a350-ac7200d74432'},
 {'FacilityId': 'FA0001628',
  'FacilityName': 'AY! JALISCO TAQUERIA #1',
  'Address': '966 SACRAMENTO Ave ',
  'CityStateZip': 'WEST SACRAMENTO CA 95691 ',
  'LastScore': 100.0,
  'attachmentId': '4fa45198-aeea-48b1-a43a-adce0102c90e'}]

We could reverse engineer other parts of the API to get detailed data about health violations.

### Private API

Tutorial: https://github.com/ping/instagram_private_api


Here is the youtube video that talks undocumented API in more details: https://www.youtube.com/watch?v=pAHxtiQVL60&list=WL&index=50&t=731s

## Web Scraping

### What makes a web page?

Web pages are written in _hypertext markup language_ (HTML). HTML files (`.htm` or `.html`) are plain text, just like JSON, Python scripts, and R scripts.

In HTML, we use _tags_ to create _elements_ of a web page. Elements add formatting and structure to the page.

* Tags usually come in pairs: an opening tag and a closing tag.
* Tags are written `<NAME>` for opening tags, `</NAME>` for closing tags, and `<NAME />` for singleton tags.
* Opening and singleton tags can have _attributes_ that contain additional information. Attributes are written `ATTRIBUTE=VALUE` after the tag name. 

See [here](https://developer.mozilla.org/en-US/docs/Learn/Getting_started_with_the_web/HTML_basics) for a more detailed explanation, and [here](https://developer.mozilla.org/en-US/docs/Web/HTML/Element) for a list of valid HTML elements.

#### Examples

As an example:

```html
<p>This page is famous and this <b>word</b> is emphasized.</p>
```

```html
<p>This <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">page</a> is famous and this <strong>word</strong> is emphasized.</p>
```

```html
<li>1. Something</li>
```
The `p` tag marks a paragraph, the `a` tag marks a link (an _anchor_), the `strong` tag marks emphasized text,
and `li` tag marks a list.

Here's a string that contains HTML for a simple, complete website:

In [23]:
page = """
<html> 
<head>
    <title>This is the Title!</title>
</head>

<body>
    <p>This is a paragraph!</p>
    <p id="best-paragraph">This is another paragraph! &#127790;</p>
    <p>Visit <a hrep="https://pudding.cool">The Pudding</a>.</p>
    <span>This is a span, it comes with an taco &#127790;</span>
</body>

<body>
    <p>This is a new paragraph!</p>
</body>

</html>
"""

In [24]:
page

'\n<html> \n<head>\n    <title>This is the Title!</title>\n</head>\n\n<body>\n    <p>This is a paragraph!</p>\n    <p id="best-paragraph">This is another paragraph! &#127790;</p>\n    <p>Visit <a hrep="https://pudding.cool">The Pudding</a>.</p>\n    <span>This is a span, it comes with an taco &#127790;</span>\n</body>\n\n<body>\n    <p>This is a new paragraph!</p>\n</body>\n\n</html>\n'

_Extensible markup language_ (XML) also uses tags to create elements. We say XML is _extensible_ because you can create your own XML elements (unlike HTML). People typically use XML to describe structure and meaning of data, rather than for formatting.

We'll use the same process to extract data from both HTML and XML.

### Helper Packages

A _parser_ converts formatted data into familiar data structures. We've used __requests__' built-in JSON parser, but the package doesn't have a built-in HTML/XML parser. Fortunately, there are many other Python packages for parsing HTML/XML and web scraping.

HTML/XML Parsers:
* [lxml](https://lxml.de/)
* [html5lib](https://github.com/html5lib/html5lib-python)
* [beautifulsoup](https://www.crummy.com/software/BeautifulSoup/)
* [requests-html](https://docs.python-requests.org/projects/requests-html/en/latest/)

Scraper Frameworks (_convenient after learning the basics with parsers_):
* [scrapy](https://scrapy.org/)
* [newspaper3k](https://github.com/codelucas/newspaper)

Even more [here](https://github.com/lorien/awesome-web-scraping/blob/master/python.md#web-scraping-frameworks).

We'll use __lxml__ here, but you're welcome to use other packages on assignments and the project. To install __lxml__ for Anaconda, run `conda install -c anaconda lxml` in a shell.

In [7]:
import lxml.html as lx

html = lx.fromstring(page)
html

### Finding Elements

Elements are nested, so an HTML document is like a tree:
```
html
├── head
│   └── title
└── body
    ├── p
    ├── p
    ├── p
    │   └── a
    └── span
```
This is similar to the file system on your computer. The key difference is that elements at the same level can have the same tag name.

#### XPath

The _XML Path Language_ (XPath) lets us write paths to elements. XPath paths look a lot like file paths. XPath is not Python-specific!

The `.xpath()` method gets all elements at an XPath path:

In [25]:
html.xpath("/html/head/title")

In [26]:
html.xpath("/html/body")

Since there may be more than one element, the method always returns a list.

Absolute paths are not robust for scraping. An update to a web page that adds a single tag can break a scraper that uses absolute paths. In XPath, `//` means "anywhere below". We'll use `//` often because it's more robust:

In [27]:
html.xpath("/html/body//a")

What if we just elements that satisfy a certain condition? In XPath, `[ ]` filters out elements that don't match a condition. For example:

In [13]:
html.xpath("//p[@id = 'best-paragraph']")

[XPath Diner](http://www.topswagcode.com/xpath/) is an interactive tutorial that teaches most of the XPath syntax. It takes about 20-60 minutes. Work through it to become an XPath ninja!

#### CSS Selectors

_Cascading Style Sheets_ (CSS) is another language for formatting elements in an HTML document. CSS provides another way to select elements, called _CSS selectors_.

CSS selectors are more concise but less flexible than XPath paths. The `.cssselect()` method gets all elements at a CSS selector:

In [16]:
html.cssselect("body")

### Extracting Text and Attributes

There are two ways to get text from an element:

* `.text` gives text inside the element, but not its children
* `.text_content()` gives text inside the element and its children, with all tags removed

In [28]:
p = html.xpath("//p[@id = 'best-paragraph']")[0]
p.text_content()

'This is another paragraph! 🌮'

In [29]:
p.text

'This is another paragraph! 🌮'

In [32]:
html.text_content()

' \n\n    This is the Title!\n\n\n\n    This is a paragraph!\n    This is another paragraph! 🌮\n    Visit The Pudding.\n\n\n\n'

In [33]:
html.text

' \n'

We can get values from attributes on an element with `.attrib`, which is a dictionary:

In [34]:
p.attrib["id"]

'best-paragraph'

In [36]:
[x.attrib["hrep"] for x in html.xpath("//a")]

['https://pudding.cool']

### Example: Scraping Tables

For data in a `table` element, we can use __Pandas__ instead of writing a scraper.

Wikipedia provides lots of useful information in tables. Let's get the Wikipedia list of [US cities by area][wiki].

[wiki]: https://en.wikipedia.org/wiki/List_of_United_States_cities_by_area

In [37]:
import pandas as pd

In [46]:
tabs = pd.read_html("https://en.wikipedia.org/wiki/List_of_United_States_cities_by_area")
# tbl = tabs[1]
# tbl
tbl = tabs[1]
tbl.head(n = 10)

,Rank,City,State,Land area (sq mi),Land area (km2),Water area (sq mi),Water area (km2),Total area (sq mi),Total area (km2),Population (2020)[2]
0,1,Sitka,Alaska,2870.1,7434,1945.1,5038.0,4815.1,12471,8458
1,2,Juneau,Alaska,2704.0,7003,550.7,1426.0,3254.7,8430,32255
2,3,Wrangell,Alaska,2556.0,6620,920.6,2384.0,3476.6,9004,2127
3,4,Anchorage,Alaska,1706.8,4421,239.9,621.0,1946.7,5042,291247
4,5,Tribune [note 1]*,Kansas,778.2,2016,0.0,0.0,778.2,2016,1182
5,6,Jacksonville,Florida,747.3,1935,127.2,329.0,874.5,2265,949611
6,7,Anaconda,Montana,736.7,1908,4.7,12.0,741.4,1920,9421
7,8,Butte *,Montana,715.8,1854,0.6,1.6,716.3,1855,34494
8,9,Houston,Texas,640.4,1659,31.2,81.0,671.7,1740,2304580
9,10,Oklahoma City,Oklahoma,606.2,1570,14.3,37.0,620.5,1607,681054

In [45]:
len(tabs)

2

In [51]:
tabs = pd.read_html("https://en.wikipedia.org/wiki/List_of_United_States_cities_by_area")
tbl = tabs[1]

def strip_footnote(x):
    """This function removes bracketed footnotes, such as '[1]'."""
    if pd.isna(x):
        return x
    
    return x.partition("[")[0]

In [52]:
# combine table headers into a row and remove footnote
cols = list(tbl.columns.get_level_values(0))
cols

['Rank',
 'City',
 'State',
 'Land area (sq\xa0mi)',
 'Land area (km2)',
 'Water area (sq\xa0mi)',
 'Water area (km2)',
 'Total area (sq\xa0mi)',
 'Total area (km2)',
 'Population (2020)[2]']

In [53]:
tbl.columns = [strip_footnote(c).title() for c in cols]

In [54]:
tbl.columns

Index(['Rank', 'City', 'State', 'Land Area (Sq Mi)', 'Land Area (Km2)',
       'Water Area (Sq Mi)', 'Water Area (Km2)', 'Total Area (Sq Mi)',
       'Total Area (Km2)', 'Population (2020)'],
      dtype='object')

In [55]:
tbl = tbl.applymap(strip_footnote)

AttributeError: 'int' object has no attribute 'partition'

In [56]:
tbl.dtypes

Rank                    int64
City                   object
State                  object
Land Area (Sq Mi)     float64
Land Area (Km2)         int64
Water Area (Sq Mi)    float64
Water Area (Km2)      float64
Total Area (Sq Mi)    float64
Total Area (Km2)        int64
Population (2020)       int64
dtype: object

In [57]:
tbl_str = tbl.applymap(str)

In [60]:
tbl_str.dtypes

Rank                  object
City                  object
State                 object
Land Area (Sq Mi)     object
Land Area (Km2)       object
Water Area (Sq Mi)    object
Water Area (Km2)      object
Total Area (Sq Mi)    object
Total Area (Km2)      object
Population (2020)     object
dtype: object

In [61]:
tbl_str = tbl_str.applymap(strip_footnote)

In [62]:
tbl_str.head()

,Rank,City,State,Land Area (Sq Mi),Land Area (Km2),Water Area (Sq Mi),Water Area (Km2),Total Area (Sq Mi),Total Area (Km2),Population (2020)
0,1,Sitka,Alaska,2870.1,7434,1945.1,5038.0,4815.1,12471,8458
1,2,Juneau,Alaska,2704.0,7003,550.7,1426.0,3254.7,8430,32255
2,3,Wrangell,Alaska,2556.0,6620,920.6,2384.0,3476.6,9004,2127
3,4,Anchorage,Alaska,1706.8,4421,239.9,621.0,1946.7,5042,291247
4,5,Tribune,Kansas,778.2,2016,0.0,0.0,778.2,2016,1182

In [63]:
tbl_str.dtypes

Rank                  object
City                  object
State                 object
Land Area (Sq Mi)     object
Land Area (Km2)       object
Water Area (Sq Mi)    object
Water Area (Km2)      object
Total Area (Sq Mi)    object
Total Area (Km2)      object
Population (2020)     object
dtype: object

In [64]:
tbl_str['Land Area (Km2)'] = tbl_str['Land Area (Km2)'].astype(float)

In [66]:
tbl_str.dtypes

Rank                   object
City                   object
State                  object
Land Area (Sq Mi)      object
Land Area (Km2)       float64
Water Area (Sq Mi)     object
Water Area (Km2)       object
Total Area (Sq Mi)     object
Total Area (Km2)       object
Population (2020)      object
dtype: object